<form [formGroup]="usuarioForm" (ngSubmit)="registrarUsuario()">
    <div class="container-titulo">
        <div>
            <h4>Registrar usuario</h4>
        </div>
        <div class="button-container-closer">
            <button class="btn-closer" (click)="closeDialog()"><i class="bi bi-x"></i></button>
        </div>
    </div>
    <mat-divider></mat-divider>
    <div class="container-datos">
        <div class="box-content">
            <label for="">Departamento:</label>
            <select class="box-select" id="opciones" formControlName="idDepartamento">
                <option value="" selected>Seleccione un Departamento</option>
                <option *ngFor="let departamento of dataDepartamentos" [value]="departamento.id">
                  {{departamento.nombre}}
                </option>
            </select>
            <div *ngIf="usuarioForm.get('idDepartamento')?.invalid && usuarioForm.get('idDepartamento')?.touched" class="error">
                Seleccione un departamento.
            </div>
        </div>
        <div class="box-content">
            <label for="">Cargo:</label>
            <select class="box-select" id="opciones" formControlName="idCargo">
                <option value="" selected>Seleccione un Cargo</option>
                <option *ngFor="let cargo of dataCargos" [value]="cargo.id">
                  {{cargo.nombre}}
                </option>
            </select>
        </div>
        <div class="box-content">
            <label for="usuario">Usuario:</label>
            <input type="text" id="usuario" formControlName="usuario">
        </div>
      
        <div class="box-content">
            <label for="email">Email:</label>
            <input type="email" id="email" formControlName="email">
        </div>
      
        <div class="box-content">
            <label for="primerNombre">Primer Nombre:</label>
            <input type="text" id="primerNombre" formControlName="primerNombre">
        </div>
      
        <div class="box-content">
            <label for="segundoNombre">Segundo Nombre:</label>
            <input type="text" id="segundoNombre" formControlName="segundoNombre">
        </div>
      
        <div class="box-content">
            <label for="primerApellido">Primer Apellido:</label>
            <input type="text" id="primerApellido" formControlName="primerApellido">
        </div>
      
        <div class="box-content">
            <label for="segundoApellido">Segundo Apellido:</label>
            <input type="text" id="segundoApellido" formControlName="segundoApellido">
        </div>
    </div>
    <mat-divider></mat-divider>
    <mat-dialog-actions align="end">
        <button mat-button class="btn-registrar" [disabled]="usuarioForm.invalid">Registrar</button>
        <button mat-button [mat-dialog-close]="true" cdkFocusInitial class="btn-cancelar" (click)="closeDialog()">Cancelar</button>
    </mat-dialog-actions>
</form>